# Configuración de Servidor Node.js
PORT=8080
NODE_ENV=production
HOST=0.0.0.0

# Credenciales Panel Administrativo CIASA
ADMIN_USER=info@ciasard.com
ADMIN_PASS=CiasaRD2026!

# Base de Datos (Hostinger / MySQL)
DB_HOST=srv1920.hstgr.io
DB_PORT=3306
DB_NAME=u868879774_ciasard_db
DB_USER=u868879774_ciasard_db
DB_PASS=CiasaRD_2026_SecurePass!

# URLs Públicas
NEXT_PUBLIC_APP_URL=https://floralwhite-termite-614451.hostingersite.com
API_NPI_URL=http://localhost:8085
